@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Golos";
    font-display: swap;
    src:
      url("./fonts/golos-text_regular.woff2") format("woff2"),
      url("./fonts/golos-text_regular.woff") format("woff");
}
  
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Golos";
    font-display: swap;
    src:
      url("./fonts/golos-text_medium.woff2") format("woff2"),
      url("./fonts/golos-text_medium.woff") format("woff");
}
  
@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Golos";
    font-display: swap;
    src:
      url("./fonts/golos-text_bold.woff2") format("woff2"),
      url("./fonts/golos-text_bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  font-family: "Golos", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #202026;
  line-height: 26px;
  overflow-wrap: break-word;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

svg {
  fill: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000000;
  transition: text-decoration 0.5s ease;
}

a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

p,
span {
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 60px;
  line-height: 35px;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    margin: 20px 50px;
}

.header__toggle {
    display: none;
}

.main-nav {
    margin: 40px 0;
    position: relative;
    top: 0;
    background-color: inherit;
}

.main-nav--closed {
  display: block;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 16px;
}

.main-nav__item:not(:last-child) {
  margin-right: 25px;
}

.main-nav__link{
  transition: color 0.3s ease;
}

.main-nav__link:hover {
  color: #C3CAD0;
}

.page-content__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.wrapper-left {
  margin-top: -110px;
  margin-bottom: -150px;
  background-color: #202026;
}

.img-wrapper {
  background-color: #C3CAD0;
}

.education,
.contacts__title,
.languages {
  margin-top: 90px;
  margin-left: 70px;
  color: #C3CAD0;
}

.education__title,
.languages__title {
  border-bottom: 2px solid #FECB00;
  padding-bottom: 20px;
}

.education__list,
.languages__list {
  margin: 30px 0;
}

.education__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-bottom: 25px;
}

.education__item,
.languages__item {
  margin-left: 30px;
  padding-right: 10px;
}

.education__item p {
  margin-top: 5px;
}

.education__link {
  color: #C3CAD0;
  font-size: 20px;
}

.languages__item {
  list-style: circle;
}

.languages__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__list {
  margin: 30px 0;
}

.contacts__item {
  display: flex;
}

.contacts__link,
.contacts__text {
  color: #C3CAD0;
  order: 2;
  margin: 5px 0 0 30px;
  font-size: 20px;
}

.icon-wrapper {
  order: 1;
  background-color: #FECB00;
  width: 70px;
  display: flex;
  justify-content: flex-end;
}

.icon-wrapper svg {
  margin: auto 10px;
}

.title-wrapper {
  padding: 100px 0 100px 100px;
  background-color: #FECB00;
}

.title__text {
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
}

.about,
.skills,
.projects,
.example,
.experience {
  margin: 100px 0 0 100px;
}

.title__right{
  padding-bottom: 20px;
  margin-right: 50px;
  border-bottom: 2px solid #000000;
}

.about__text,
.skills__list,
.experience__list,
.projects__list {
  margin: 30px 50px 0 0;
}

.skills__item {
  list-style: circle;
}

.experience__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.experience__item:not(:last-child) {
  margin-bottom: 30px;
}

.experience__text-name {
  margin-bottom: 20px;
  font-size: 20px;
}

.experience__text-post {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.projects__list {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-left: -25px;
  margin-bottom: 50px;
}

.projects__item:not(:last-child) {
  margin-bottom: 30px;
}

.projects__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 261px;
}

.projects__img {
  max-height: 205px;
  width: 100%;
  margin-bottom: 30px;
  flex-grow: 1;
}

.projects__text {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}


.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100px;
  padding-top: 30px;
  border-top: 3px solid #FECB00;
}

.footer__wrapper-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 50px;
}

.footer__git {
  padding-top: 10px;
}

.footer__date {
  padding-top: 20px;
}


@media (max-width: 1023px) {
  .page-content__wrapper {
    display: flex;
    flex-direction: column;
}

  .wrapper-left {
    margin-top: 20px;
    margin-bottom: 20px;
    order: 2;
  }

  .wrapper-right {
    order: 1;
  }

  .img-wrapper {
    display: none;
  }

  .title-wrapper {
    position: relative;
    text-align: right;
    padding: 100px;
  }

  .title-wrapper::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 100px;
    width: 250px;
    height: 300px;
    background-image: url("assets/img/img_2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  h1 {
    font-size: 45px;
    line-height: 28px;
  }

  .title__text {
    margin-top: 20px;
    font-size: 26px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin-top: 0;
  }

  .main-container--nojs {
    margin-top: 212px;
  }

  .header {
    position: relative;
    height: 50px;
    margin: 20px 0;
  }

  .header__toggle {
    position: absolute;
    top: -3px;
    right: 0;
    z-index: 2;
    display: block;
    width: 60px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  
  .header__toggle--closed::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    width: 25px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
  
  .header__toggle--opened::after,
  .header__toggle--opened::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 25px;
    height: 2px;
    background-color: #000000;
    box-shadow: none;
  }
  
  .header__toggle--opened::before {
    transform: rotate(45deg);
  }
  
  .header__toggle--opened::after {
    transform: rotate(-45deg);
  }
  
  .header__toggle--nojs {
    display: none;
  }

  .main-nav {
    position: absolute;
    width: 40%;
    right: 0;
    background-color: #ffffff;
    display: none;
    z-index: 1;
    margin: 10px 0 20px 0;
    border-radius: 0 0 0 10%;
  } 

  .main-nav__list {
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    padding: 0 0 15px 20px;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .main-nav--closed {
    display: none;
  }

  .main-nav--opened {
    display: block;
  }

  .main-nav--nojs {
    position: static;
    top: 65px;
    display: block;
  } 

  .title-wrapper {
    position: relative;
    text-align: center;
    padding: 350px 0 50px 0;
    margin: 0 auto;
  }

  .title-wrapper::before {
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}